.container {
	padding: 20px;
}

.title {
	font-size: 2rem;
	margin-bottom: 20px;
}

.bookItem {
	border: 1px solid #ddd;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	background-color: #f9f9f9;

	h3 {
		margin: 0 0 10px;
	}

	p {
		margin: 5px 0;
	}
}

.borrowButton {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 10px 15px;
	margin-right: 10px;
	border-radius: 5px;
	cursor: pointer;

	&:disabled {
		background-color: #ccc;
		cursor: not-allowed;
	}
}

.detailsLink {
	color: #007bff;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modalContent {
	background: white;
	padding: 20px;
	border-radius: 5px;
	text-align: center;

	h2 {
		margin-bottom: 20px;
	}

	button {
		margin: 0 10px;
	}
}

.confirmButton {
	background-color: #28a745;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.cancelButton {
	background-color: #dc3545;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.loginReminder {
	color: #ff0000;
	font-weight: bold;
}
